body { background-color: #5280c5;
      color: #003366 ;
	  font-family: Verdana, Arial, sans-serif;
    background-image: url(gradientblue.jpg)
}
header { background-color: #000066;
       color: #F0F0F0;
	   background-image: url(bigfish.gif);
	   background-repeat: no-repeat;
	   background-position: center;
	   text-align: center;
}
h1 { line-height: 250%;
 	margin-bottom: 0;
    font-size: 3em; 
    padding: 0.2em; 
    text-shadow: 3px 3px #cccccc;
}
nav { font-weight: bold; 
    text-decoration: none;
    padding: 5px; 
    float: left;
    width: 180px; 
} 
nav ul {}
nav a:link{color: #000066;}
nav a:visited{color: #5280c5;}
nav:hover{color: #3262a3;}


.category { font-weight: bold;
			color: #5280C5;
			 font-family: Georgia, "Times New Roman", serif; 
			 text-shadow: 1px 1px #667;
}
img { border-style: none; }
dt { font-weight: bold;
     font-size: 1.1em;
	 color: #5280C5;
     font-family: Georgia, "Times New Roman", serif;	 
}
main { padding-left: 10px;
    padding-right: 2em;
    margin-left: 180px; 
    background-color: #ffffff; 
    border: 1px;
    border-color: #aec3e3;
}

footer { font-size: .70em;
        font-style: italic;
        text-align: center;
        background-color: #AEC3E3;
        padding: 1em;
        margin-left: 180px; 
}
header, nav, main, footer {display: block;}
#wrapper { width: 80%;
           margin-right: auto;
		   margin-left: auto;
		   background-color: #F0F0F0;
		   min-width: 700px;
}
* {box-sizing: border-box}